:root {
  --slide-progress: 0;
  --slide-progress--transition: all 200ms cubic-besier(0.02, 0.02, 0.39);
}

.carousel--container {
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.carousel-slide {
  position: relative;
  min-width: 100vw;
  display: flex;
  object-fit: cover;
}
.carousel-slide img {
  width: 100%;
  flex: 1 0 100%;
}

.carousel-slide--transition {
  transition: transform 0.4s ease-in-out;
}

.carousel-slide--notransition {
  transition: transform 0s ease-in-out;
  transition-delay: 1ms;
}

.carousel-left-btn {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  z-index: 2;
}

.carousel-right-btn {
  position: absolute;
  top: 50%;
  right: 3rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  z-index: 2;
}

.carousel-progress {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  width: 5.5rem;
  display: flex;
  justify-content: space-between;
}

.carousel-progress-btn {
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.carousel-progress-btn--active {
  background-color: white;
}
