.navigation {
  height: 10rem;
  width: 100vw;
  background-color: #252222;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: top 0.4s ease-in-out;
}

.nav-top {
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #ffffff;
  flex: 2;
}

.nav-top-left {
  flex: 1;
  text-align: center;
}

.nav-cta {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 1px white;
  border-left: solid 1px white;
}

.nav-icons {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-icons a {
  height: 20px;
  color: white;
  margin: 0 0.7rem;
  text-decoration: none;
}
.nav-icons a:first-of-type {
  margin-left: 1.4rem;
}

.nav-bottom {
  height: 65%;
  width: 100%;
  border-top: solid 1px white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.nav-logo {
  width: max-content;
  color: white;
  font-size: 2rem;
}

.nav-list {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  font-size: 1.5rem;
}

.navigation--active {
  top: -3.5rem;
}

.nav-logo a {
  text-decoration: none;
  color: white;
  font-size: 2.2rem;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}

@media all and (max-width: 900px) {
  .nav-list {
    display: none;
  }
}
